# macOS
.DS_Store

# Swift Package Manager
.build/
Package.resolved
Package.resolved

# Xcode
DerivedData/
*.xcuserstate
*.xcuserdata/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc